

<section>
    <div class="ui segment inverted red center aligned">
        <h1>Dashboard</h1>
    </div>

    <div class="ui container">
        <br />

        <div class="ui red pointing item menu">
            <a class="item active">
                Current Emergencies
            </a>
        </div>
        <div  class="ui segment">
            <div id="case" class="ui items">
                <div class="item">
                    <div class="image">
                        <img id="reportType" src="~/imgs/firefighter.png">
                    </div>
                    <div class="content">
                        <a id="name" class="header">Asem Alabdali</a>
                        <div class="meta">
                            <span>Description</span>
                        </div>
                        <div class="description">
                            <p id="age">Age: 25</p>
                            <p id="bloodType">Blood Type: O+</p>
                        </div>
                        <div id="location" class="extra">
                            Location: International Islamic University Malaysia - Gombak
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
   
        <br />
        <div>
            <button id="send" class="ui button">Test</button>
        </div>

    </div>
</section>